{% extends 'base.html' %}
{% block loader %} {% include 'loader.html' %} {% endblock loader %}
{% block header %} {% include 'header.html' %}{% endblock header %}
{% block banner %} {% include 'banner.html' %}{% endblock banner %}
{% block content %}
<div class="container">
        <div class="row mt-5">
            
            {% if item !=None and search_item.count > 0 %}
            <h1 class="title">Here is the result for your search{{item}}</h1>
        
            {% for product in searched_item %}
            {% csrf_token %}
            <div class="col-12 col-md-6 col-lg-3 mt-5 product">
                <div class="card">
                    <a href="{% url 'detail' item.id item.slug %}"><img src="{{product.pix.url}}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">{{product.name|title}}</h5>
                      <p class="card-text">&#8358<!---->{{product.price}}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
    
            </div>
            {% endfor %}
            {% else %}
            <h1 class="title">your search{{item}} is not found</h1>
            {% endif %}
            
        
    </div>  
</div>    
{% endblock content %}
{% block footer %} {% include 'footer.html' %}{% endblock footer %}